<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>

<section id="main" data-layout="layout-1">
    <div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						请输入操作说明
					</h4>
				</div>
				<ul id="myTab" class="nav nav-tabs">
				   <li class="active"><a href="#zhmsg" data-toggle="tab">简体中文</a></li>
				   <li><a href="#enmsg" data-toggle="tab">英文</a></li>
				   <li><a href="#kamsg" data-toggle="tab">韩文</a></li>
				   <li><a href="#jemsg" data-toggle="tab">日文</a></li>
				</ul>
				<form id="addform" method="post">
					<input type="hidden" id="data-index">
					<input type="hidden" name="id" id="id">
					<input type="hidden" name="zh[language_id]" value="1">
					<input type="hidden" name="en[language_id]" value="2">
					<input type="hidden" name="ka[language_id]" value="3">
					<input type="hidden" name="je[language_id]" value="4">
					<div class="modal-body">
						<span>
							消息分类
						</span>
						<select name="wtype" class="selectpicker" id="wtype"/>
							<option value="1">提现通过</option>
							<option value="2">提现驳回</option>
							<option value="3">冻结用户</option>
							<option value="4">恢复用户</option>
						</select>
					</div>
					<div id="myTabContent" class="tab-content" style="height: 350px;">
						<div class="tab-pane fade in active" id="zhmsg">
							<div class="input-group">
								<span class="input-group-addon">title</span>
								<input type="text" class="form-control" name="zh[title]" id="zhtitle" placeholder="请输入title">
							</div>
							<div style="margin-top:5px">
								<textarea type="text" id="input-description" class="zhContent" name="zh[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="enmsg">
							<div class="input-group">
								<span class="input-group-addon">title</span>
								<input type="text" class="form-control" name="en[title]" id="entitle" placeholder="请输入title">
							</div>
							<div style="margin-top:5px">
								<textarea type="text" id="input-description" class="enContent" name="en[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="kamsg">
							<div class="input-group">
								<span class="input-group-addon">title</span>
								<input type="text" class="form-control" name="ka[title]" id="katitle" placeholder="请输入title">
							</div>
							<div style="margin-top:5px">
								<textarea type="text" id="input-description" class="kaContent" name="ka[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="jemsg">
							<div class="input-group">
								<span class="input-group-addon">title</span>
								<input type="text" class="form-control" name="je[title]" id="jetitle" placeholder="请输入title">
							</div>
							<div style="margin-top:5px">
								<textarea type="text" id="input-description" class="jeContent" name="je[info]"/></textarea>
							</div>
						</div>
					</div>
				</form>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-insert">确认</button>
					<button type="button" class="btn btn-reset" data-dismiss="modal">取消</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
    	<h2 id="roleinfo" style="margin-left: 500px;"></h2>
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>消息管理 <small>挖矿消息管理.</small></h2>
                </div>
				
				
                <div class="table-responsive">
					<button id="but_add" type="button" class="btn but_add m-l-30">
		                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
		            </button>
                    <table id="data-table-mac" class="table table-striped">
                        <thead>
                        <tr>
                            <th data-field="id" name='id'>编号</th>
                            <th data-field="wtype" name='wtype'>类型</th>
                            <th data-field="c_time" name='c_time'>创建时间</th>
                            <th data-field="u_time" name='u_time'>更新时间</th>
                            <th data-field="creater" name='creater'>操作人</th>
                            <th data-field="info" name='info'>内容</th>
                            <th data-field="commands" data-formatter="commands" data-sortable="false">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example">
					<ul id="pageLimit"></ul>
				</div>	
            </div>
        </div>
    </section>
</section>


<script src="core/jquery-2.2.3.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>
<script>
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
			$('.selectpicker').selectpicker({
				style: 'btn-default',
				size: 4
			});
			
			var $zhsummernote=$('.zhContent').summernote({
				height: 180,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($zhsummernote,files[0]);
					}
				}
			});
			
			var $ensummernote=$('.enContent').summernote({
				height: 180,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($ensummernote,files[0]);
					}
				}
			});
			
			var $kasummernote=$('.kaContent').summernote({
				height: 180,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($kasummernote,files[0]);
					}
				}
			});
			
			var $jesummernote=$('.jeContent').summernote({
				height: 180,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($jesummernote,files[0]);
					}
				}
			});

			//btn-default
			$(".btn-reset").on('click',function (e) {
				$("#addform")[0].reset();
			})
			
			$("body").on('click',function (e) {
				//添加按钮
				$('.zhContent').val(Base64.encode($('.zhContent').summernote('code')));
				$('.enContent').val(Base64.encode($('.enContent').summernote('code')));
				$('.kaContent').val(Base64.encode($('.kaContent').summernote('code')));
				$('.jeContent').val(Base64.encode($('.jeContent').summernote('code')));
                if(e.target.className.indexOf('btn-insert')>0){
                    var options={
                        dataType:'json',
                        success:function (data) {
                            $("#addform")[0].reset();
                            if(data.code=='0'){
                                $("#m-ud-article").modal("hide");
                                //$("#data-table-mac").bootgrid("reload");
								initable('init');
                            }else if(data.code==1002) {
								swal(data.msg);
							}else if(data.code=='10000'){
                                swal('没有权限,请联系管理员!');
                            }else{
                                swal('操作失败');
                            }
                        }
                    };
					
                    $("#addform").ajaxSubmit(options);
                }
			});
			
			$(".but_add").on('click',function(){
				$("#addform").attr('action',"/admin/walletmsg/add");
				$("#m-ud-article").modal('show');
			});
			
			$(".but_update").on('click',function(){
				var id=$(this).attr('data-row-id');
				$("#addform").attr('action',"/admin/walletmsg/updateById");
				$("#addform > #id").val(id);
				$.ajax({
					type: 'POST',
					url: "/admin/walletmsg/getById",
					data: {"id":id},
					async:true,
					dataType:"json",
					success:function (data) {
						if(data.code==0) {
							//$("#addform #wtype option[value='"+data.data.zhdata.wtype+"']").attr("selected",true);
							$("#zhtitle").val(data.data.zhdata.title);
							$("#entitle").val(data.data.zhdata.title);
							$("#katitle").val(data.data.kadata.title);
							$("#jetitle").val(data.data.jedata.title);
							
							$(".zhContent").summernote('code',Base64.decode(data.data.zhdata.info));
							$(".enContent").summernote('code',Base64.decode(data.data.endata.info));
							$(".kaContent").summernote('code',Base64.decode(data.data.kadata.info));
							$(".jeContent").summernote('code',Base64.decode(data.data.jedata.info));
							$("#wtype").selectpicker('val',data.data.zhdata.wtype);
							$("#m-ud-article").modal('show');
						}else if(data.code=='10000') {
							swal('没有权限,请联系管理员!');
						}else {
							swal('操作失败');
						}
					}
				});
			});
			
			$(".but_delete").on('click',function(){
				var id=$(this).attr('data-row-id');
				var index=$(this).attr('data-row-index');
				swal({
					title: "你将要删除这个记录吗?",
					text: "如果你删除了,将无法恢复!",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "delete",
					closeOnConfirm: false
				}, function(){
					$.ajax({
						type:"post",
						url:"/admin/walletmsg/delete",
						data:{'id':id},
						async:true,
						dataType:'json',
						beforeSend:function () {
							$("#data-table-mac").ajax_loader({size:'pl-lg',color:'pls-green'});
						},
						complete:function () {
							setTimeout(function () {
								$("#data-table-mac").find('.ajax-loader').fadeOut();
							},100);
						},
						success:function (data) {
							if(data.code=='0'){
								swal("已删除!", "当前记录已删除.", "success");
								var count = $("#data-table-mac > tbody > tr").length;
								if(count <= 1){
									initable('init');
								}else{
									$("#data-table-mac > tbody > tr[data-index="+index+"]").remove();
								}
							}else if(data.code=='10000'){
								swal('没有权限,请联系管理员!');
							}else{
								swal('操作失败');
							}
						}
					})

				});
			})

		})
	})
	
	
	
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }else{ parems="rowCount=10&current=1"}
		$.ajax({
			type:"post",
			url:"/admin/walletmsg/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				if(data.code==0){
					var jsonData=data.data.data;
					var current=data.data.current;
					var total=data.data.total;
					var rowCount=data.data.rowCount;
					$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
						data: jsonData,
			            search: false,
			            searchAlign:"left",
			            strictSearch: true,
			            showColumns: true,
			            showRefresh: true, 
			            buttonsAlign:"left",
			            toolbarAlign:"left",
			            toolbar:"#but_add",
			            onRefresh: function () {
			                initable('init');
			            },
					})
					
					initpage(gettype,current,total,rowCount);
				}else if(data.code=='10000') {
					$(".container").hide();
					$("#roleinfo").html('没有权限,请联系管理员!');
                }else {
                    $("#roleinfo").html('操作失败!');
                }
			},
			complete:function () {
				$('#data-table-mac').bootstrapTable('hideLoading','none');
			}
		});
	}
	
	initable('init');
	
	function initpage(gettype,currents,total,rowCount){
		if(gettype=='search'){ search='1'; }else{ search='0'; }
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"mini",//应该是页眉的大小。
			bootstrapMajorVersion: 3,//bootstrap的版本要求。
			numberOfPages:5,//一页列出多少数据。
			alignment:"left",
			containerClass:"m-l-30",
			itemContainerClass: function (type, page, current) {
				return (page === current) ? "active" : "";
			},
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/walletmsg/tabPage",
					type:'POST',
					data:{'current':page,'rowCount':<?php echo $offset; ?>,'search':search},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.data;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData,
							search: false,
				            searchAlign:"left",
				            strictSearch: true,
				            showColumns: true,
				            showRefresh: true, 
				            buttonsAlign:"left",
				            toolbarAlign:"left",
				            toolbar:"#but_add",
				            onRefresh: function () {
				                initable('init');
				            },
						});
						//initpage(current,total,rowCount);
					},
					complete:function () {
						$('#data-table-mac').bootstrapTable('hideLoading','none');
					}
				})
			}
			

		});
	}
	
	function commands(value,row,index){
		var but_edit='<button id="btn_edit" type="button" class="btn but_update" data-row-id="'+row['id']+'" data-row-index="'+index+'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑</button>';
		var but_del='<button id="btn_delete" type="button" class="btn but_delete" data-row-id="'+row['id']+'" data-row-index="'+index+'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</button>';
		return but_edit+but_del;
		//return '<a href="javascript:;" style="color:red" onclick=\'sendinfo('+row['id']+');\'>编辑</a>/<a href="javascript:;" class="but_delete" data-row-index="'+index+'" data-row-id="'+row['id']+'" style="color:red">删除</a>';
	};
	
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
