<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
.macserch{
	width:1500px;height:150px;
}

.macfont{
	color:#000000;height:25px;font-size:13px;
}

.macbutton{
	color:#FFFFFF;border:1px #009dd9 solid;padding:4px 10px; background:#009dd9;border-radius:15px;
}

.fixed-table-loading{ display:none; }
</style>
<section id="main" data-layout="layout-1">
	<div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						操作日志
					</h4>
				</div>
				<ul id="myTab" class="nav nav-tabs">
				   <li class="active"><a href="#zhmsg" data-toggle="tab">简体中文</a></li>
				   <li><a href="#enmsg" data-toggle="tab">英文</a></li>
				   <li><a href="#kamsg" data-toggle="tab">韩文</a></li>
				   <li><a href="#jemsg" data-toggle="tab">日文</a></li>
				</ul>
				<div id="myTabContent" class="tab-content" style="height: 350px;">
					<div class="form-group">
						<label class="col-sm-2 control-label">操作类型</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="act">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">操作人</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="current">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">时间</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="c_time">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Mac</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="mac">
						</div>
					</div>
					<div class="tab-pane fade in active" id="zhmsg">
						<div class="form-group">
							<label class="col-sm-2 control-label">中文标题</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="zhtitle">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">中文内容</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8" id="zhinfo"></textarea>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="enmsg">
						<div class="form-group">
							<label class="col-sm-2 control-label">英文标题</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="entitle">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">英文内容</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8" id="eninfo"></textarea>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="kamsg">
						<div class="form-group">
							<label class="col-sm-2 control-label">韩文标题</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="katitle">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">韩文内容</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8" id="kainfo"></textarea>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-reset" data-dismiss="modal">关闭</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
    	<h2 id="roleinfo" style="margin-left: 500px;"></h2>
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>操作日志<small>操作日志</small></h2>
                </div>
				
				
                <div class="table-responsive">
                    <table id="data-table-mac" class="table table-striped" data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th data-field="id" name='id' id="id">id</th>
                            <th data-field="act" name='act'>操作类型</th>
                            <th data-field="current" name='current'>操作人</th>
                            <th data-field="c_time" name='c_time'>时间</th>
                            <th data-field="zhtitle" name='zhtitle'>标题</th>
                            <th data-field="commands" data-formatter="commands" data-sortable="false">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example" style="text-align: center">
					<ul id="pageLimit"></ul>
				</div>	
            </div>
        </div>
    </section>
</section>


<script src="core/jquery-2.2.3.min.js"></script>
<script src="core/bootstrap.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/widget/excel/ExcelUtil.js"></script>

<script>
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
			
			$(".but_cat").on('click',function(){
				
				var id=$(this).attr('data-row-id');
				$.ajax({
                    type:"post",
                    url:"/admin/walletlog/getById",
                    data:{'id':id},
                    async:true,
                    dataType:'json',
                    beforeSend:function () {
                        $("#m-ud-article").find('.modal-body').ajax_loader({size:'pl-lg',color:'pls-green'});
                    },
                    complete:function () {
                        setTimeout(function () {
                        	$("#m-ud-article").find('.ajax-loader').fadeOut();
                        },100);
                    },
                    success:function (data) {
                        if(data.code=='0'){
                        	$("#myTabContent .fileinput-preview").html('');
                        	$('#myTabContent #act').val(data.data.act);
                        	$('#myTabContent #mac').val(data.data.mac);
                        	$('#myTabContent #current').val(data.data.current);
                        	$('#myTabContent #c_time').val(data.data.c_time);
                        	$('#myTabContent #zhtitle').val(data.data.zhtitle);
                        	$('#myTabContent #zhinfo').val(data.data.zhinfo);
                        	$('#myTabContent #entitle').val(data.data.entitle);
                        	$('#myTabContent #eninfo').val(data.data.eninfo);
                        	$('#myTabContent #katitle').val(data.data.katitle);
                        	$('#myTabContent #kainfo').val(data.data.kainfo);
                        	$("#m-ud-article").modal('show');
                        }else if(data.code=='10000'){
							swal('没有权限,请联系管理员!');
						}else{
							swal('操作失败');
						}
                    }
                });
			})
		})
	})
		
		
		
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }
		$.ajax({
			type:"post",
			url:"/admin/walletlog/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				if(data.code==0){
					var jsonData=data.data.data;
					var current=data.data.current;//当前页数
					var total=data.data.total;
					var rowCount=data.data.rowCount;
					$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
						toolbar: "#aacMacid", //设置工具栏的Id或者class
						sortable: true,      //是否启用排序
						data: jsonData,
					});
					initpage(gettype,current,total,rowCount);
				}else if(data.code=='10000') {
					$(".container").hide();
					$("#roleinfo").html('没有权限,请联系管理员!');
                }else {
                    $("#roleinfo").html('操作失败!');
                }
				
			},
		})
	}
	
	initable('init');
			
	//function macfind(){
	//	initable('search');
	//};

	function initpage(gettype,currents,total,rowCount){
		if(gettype=='search'){ search='1'; }else{ search='0'; }
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"normal",//应该是页眉的大小。
			bootstrapMajorVersion: 5,//bootstrap的版本要求。
			alignment:"right",
			numberOfPages:5,//一页列出多少数据。
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/walletlog/tabPage",
					type:'POST',
					data:{'pageIndex':page,'offset':<?php echo $offset; ?>,'search':search},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.data;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData
						});
						//initpage(current,total,rowCount);
					}
				})
			}
			

		});
	}
	
	function commands(value,row,index){
		 var cat='<a href="javascript:;" class="but_cat" data-row-index="'+index+'" data-row-id="'+row['id']+'" style="color:red">查看</a>';
		 var del='<a href="javascript:;" class="but_delete" data-row-index="'+index+'" data-row-id="'+row['id']+'" style="color:red">删除</a>';
		 return cat;
	};
	
	function macfind(){
		initable('search');
	};
	
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
