<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
.macserch{
	width:1300px;height:150px;
}

.macfont{
	color:#000000;height:25px;font-size:13px;
}

.macbutton{
	color:#FFFFFF;border:1px #009dd9 solid;padding:4px 10px; background:#009dd9;border-radius:15px;
}

</style>
<section id="main" data-layout="layout-1">
	<!--------驳回---------->
    <div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						请选择一条消息
					</h4>
				</div>
				
				<form id="addform-down" action="/admin/walletverify/updateById" method="post">
					<input type="hidden" id="data-index">
					<input type="hidden" id="act" name="act">
					<input type="hidden" id="wtype" name="wtype">
					<input type="hidden" id="id" name="id">
					<input type="hidden" id="aacMacId" name="aacMacId">
					<input type="hidden" id="mac" name="mac">
					<div class="col-sm-12" id="selected">
						
					</div>
					<ul id="myTab" class="nav nav-tabs">
					   <li class="active"><a href="#zhmsg" data-toggle="tab">简体中文</a></li>
					   <li><a href="#enmsg" data-toggle="tab">英文</a></li>
					   <li><a href="#kamsg" data-toggle="tab">韩文</a></li>
					   <li><a href="#jpmsg" data-toggle="tab">日文</a></li>
					</ul>
					<div id="myTabContent" class="tab-content" style="height: 350px;">
						<div class="tab-pane fade in active" id="zhmsg">
							<div class="modal-body">
								<textarea type="text" id="input-description" class="zhContent" name="zh[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="enmsg">
							<div class="modal-body">
								<textarea type="text" id="input-description" class="enContent" name="en[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="kamsg">
							<div class="modal-body">
								<textarea type="text" id="input-description" class="kaContent" name="ka[info]"/></textarea>
							</div>
						</div>
						<div class="tab-pane fade" id="jpmsg">
							<div class="modal-body">
								<textarea type="text" id="input-description" class="jpContent" name="jp[info]"/></textarea>
							</div>
						</div>
					</div>
				</form>
			</div><!-- /.modal-content -->

			<div class="modal-footer" style="position:relative;margin-top:150px;">
				<button type="button" class="btn btn-down">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal -->
	</div>
	
	<!----------通过---------->
	<div class="modal fade" id="m-ud-ok" style="top:200px">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 500px;">
				<form id="addform-ok" action="/admin/walletverify/updateById" method="post">
					<input type="hidden" id="data-index">
					<input type="hidden" id="act" name="act">
					<input type="hidden" id="wtype" name="wtype">
					<input type="hidden" id="id" name="id">
					<input type="hidden" id="aacMacId" name="aacMacId">
					<input type="hidden" id="mac" name="mac">
					
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
								aria-hidden="true">×
						</button>
						<h4 class="modal-title" id="myModalLabel">通过请点击确认按钮</h4>
					</div>
					<div class="modal-body">点击确认后会发消息通知用户</div>
					
					<div class="modal-footer" style="text-align:center">
						<button type="button" class="btn btn-ok">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
    	<h2 id="roleinfo" style="margin-left: 500px;"></h2>
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>提币审核<small>提币审核管理.</small></h2>
                </div>
				
				<!--------搜索start-------->
				<div class="macserch">
					<form id="search">
						<h5 style="margin-left:33px;">根据条件查询</h5><br>
						<div style="width:100%;float:left;">
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:84px;">email地址</label>
								<input  id="ds_host" type="text" name="emailTo" placeholder="email地址" style="width:158px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:84px;">MAC地址</label>
								<input  id="ds_host" type="text" name="aacMacAddress" placeholder="MAC地址" style="width:158px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:83px;">公钥地址</label>
								<input  id="ds_host" type="text" name="publicAddress" placeholder="公钥地址" style="width:158px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:95px;">历史提笔总金额</label>
								<input  id="ds_host" type="text" name="aacApplyTotalStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacApplyTotalEnd" style="width:70px;"/>
							</div>
							
							<!--<div style="float:left;margin-left:30px;">
								<label class="macfont" style="width:60px;">用户状态</label>
								<select name="aacMacStatus">
									<option value="N">正常</option>
									<option value="Y">冻结</option>
								</select>
							</div>-->
						</div>
						

						<div style="margin-top: 10px;float:left;">
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:83px;">提币金额</label>
								<input  id="ds_host" type="text" name="aacNumberStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacNumberEnd" style="width:70px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:82px;">挖矿余额</label>
								<input  id="ds_host" type="text" name="aacMinerBalanceStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacMinerBalanceEnd" style="width:70px;"/>
							</div>
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:95px;">申请时间</label>
								<input  id="ds_host" type="text" name="aacApplyTimeStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacApplyTimeEnd" style="width:70px;"/>
							</div>
							<div style="float:left;margin-left:30px;">
								<input type="hidden" value="1" name="search"/>
								<input type="button" value="查询" class="macbutton" onclick="initable('search')" style="width:70px;"/>
							</div>
							<div style="float:left;margin-left:10px;">
								<input type="button" value="清空" class="macbutton" onclick="empty_search();" style="width:70px;"/>
							</div>
							<!--<div style="float:left;margin-left:10px;">
								<input type="button" value="导出EXCEL" class="macbutton" onclick="Excel();" style="width:70px;"/>
							</div>-->
						</div>
					</form>
					
					<div style="float:left;margin-left:10px;">
						<form id="excelform" action="/admin/walletverify/excel" method="post">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">导出EXCEL<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li onclick="Excel(0);"><a href="#">导出当前数据</a></li>
									<li onclick="Excel(1);"><a href="#">导出全部数据</a></li>
								</ul>
							</li>
						</ul>
						</form>
					</div>
                </div>
				<!--------搜索end-------->
				
                <div class="table-responsive">
                    <table id="data-table-mac" class="table table-striped" data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th data-field="id" name='id' id="aacMacid">id</th>
                            <th data-field="emailTo" name='emailTo' id="emailTo">email</th>
                            <th data-field="aacMacAddress" name='aacMacAddress'>MAC地址</th>
                            <th data-field="publicAddress" name='publicAddress'>公钥地址</th>
                            <th data-field="aacApplyTotal" name='aacApplyTotal'>历史提币总金额</th>
                            <th data-field="aacNumber" name='aacNumber'>提币金额</th>
                            <th data-field="aacMinerBalance" name='aacMinerBalance'>挖矿余额</th>
                            <th data-field="createTime" name='createTime'>申请时间</th>
                            <th data-field="commands" data-formatter="commands" data-sortable="false">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example">
					<ul id="pageLimit"></ul>
				</div>	
            </div>
        </div>
    </section>
</section>


<script src="core/jquery-2.2.3.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/widget/excel/ExcelUtil.js"></script>

<script>
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
			$('.selectpicker').selectpicker({
                style: 'btn-default',
                size: 4
            });
			
			$(".dropdown-toggle").dropdown();
			
			var $zhsummernote=$('.zhContent').summernote({
				placeholder:'请填写中文描述',
				height: 160,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($zhsummernote,files[0]);
					}
				}
			});
			
			var $ensummernote=$('.enContent').summernote({
				placeholder:'请填写英文描述',
				height: 160,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($ensummernote,files[0]);
					}
				}
			});
			
			var $kasummernote=$('.kaContent').summernote({
				placeholder:'请填写韩文描述',
				height: 160,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($kasummernote,files[0]);
					}
				}
			});
			
			var $jpsummernote=$('.jpContent').summernote({
				placeholder:'请填写韩文描述',
				height: 160,
				lang: 'zh-CN',
				callbacks: {
					onImageUpload: function(files) {
						sendFile($jpsummernote,files[0]);
					}
				}
			});
			
			$(".btn-default").on('click',function (e) {
				$('.zhContent').summernote('reset');
				$('.enContent').summernote('reset');
				$('.kaContent').summernote('reset');
				$('.jpContent').summernote('reset');
			});
			
			
			
			$("body").on('click',function (e) {
				//添加按钮
				$('.zhContent').val(Base64.encode($('.zhContent').summernote('code')));
				$('.enContent').val(Base64.encode($('.enContent').summernote('code')));
				$('.kaContent').val(Base64.encode($('.kaContent').summernote('code')));
				$('.jpContent').val(Base64.encode($('.kaContent').summernote('code')));
				var index = $("#addform-down > #data-index").val();
				if(e.target.className.indexOf('btn-down')>0){
					var options={
						dataType:'json',
						beforeSend:function () {
							$(".btn-down").html('正在提交');
						},

						success:function (data) {
							$("#addform-down")[0].reset();
							if(data.code=='0'){
								//$("#m-ud-article > tbody > tr").remove();
								$("#m-ud-article").modal("hide");
								
								var count = $("#data-table-mac > tbody > tr").length;
								console.log(count);
								if(count <= 1){
									initable('init');
								}else{
									$("#data-table-mac > tbody > tr[data-index="+index+"]").remove();
								}
								
								$('.zhContent').summernote('reset');
								$('.enContent').summernote('reset');
								$('.kaContent').summernote('reset');
								$('.jpContent').summernote('reset');
							}else if(data.code==1002) {
								swal(data.msg);
							}else if(data.code=='10000'){
								swal('没有权限,请联系管理员!');
							}else{
								swal('操作失败');
							}
						},
						complete:function () {
							$(".btn-down").html('确认');
						},
					};
					$("#addform-down").ajaxSubmit(options);
				}
			});
			
			$("body").on('click',function (e) {
				//添加按钮
				if(e.target.className.indexOf('btn-ok')>0){
					var index = $("#addform-ok > #data-index").val();
					var options={
						dataType:'json',
						beforeSend:function () {
							$(".btn-ok").html('正在提交');
						},
						success:function (data) {
							$("#addform-ok")[0].reset();
							if(data.code=='0'){
								$("#m-ud-ok").modal("hide");
								var count = $("#data-table-mac > tbody > tr").length;
								console.log(count);
								if(count <= 1){
									initable('init');
								}else{
									$("#data-table-mac > tbody > tr[data-index="+index+"]").remove();
								}
								
							}else if(data.code==1002) {
								swal(data.msg);
							}else if(data.code=='10000'){
								swal('没有权限,请联系管理员!');
							}else{
								swal('操作失败');
							}
						},
						complete:function () {
							$(".btn-ok").html('确认');
						},
					};
					$("#addform-ok").ajaxSubmit(options);
				}
			})
		})
	})
	
	
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }
		$.ajax({
			type:"post",
			url:"/admin/walletverify/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				if(data.code==0){
					var jsonData=data.data.pageData;
					var current=data.data.pageIndex;//当前页数
					var total=data.data.totalItems;
					var rowCount=data.data.offset;
					$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
						data: jsonData,
						search: false,
			            searchAlign:"left",
			            strictSearch: true,
			            showColumns: true,
			            showRefresh: true, 
			            buttonsAlign:"left",
			            toolbarAlign:"left",
			            toolbar:"#but_add",
			            onRefresh: function () {
			                initable('init');
			            },
					});
					initpage(gettype,current,total,rowCount);
				}else if(data.code=='10000') {
					$(".container").hide();
					$("#roleinfo").html('没有权限,请联系管理员!');
                }else {
                    $("#roleinfo").html('操作失败!');
                }
			},
			complete:function () {
				$('#data-table-mac').bootstrapTable('hideLoading','none');
			}
		})
	}
	
	initable('init');
	

	function initpage(gettype,currents,total,rowCount){
		if(gettype=='search'){ search='1'; }else{ search='0'; }
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"mini",//应该是页眉的大小。
			bootstrapMajorVersion: 3,//bootstrap的版本要求。
			alignment:"left",
			numberOfPages:5,//一页列出多少数据。
			containerClass:"m-l-30",
			itemContainerClass: function (type, page, current) {
				return (page === current) ? "active" : "";
			},
			
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/walletverify/tabPage",
					type:'POST',
					data:{'pageIndex':page,'offset':<?php echo $offset; ?>,'search':search},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.pageData;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData,
							search: false,
				            searchAlign:"left",
				            strictSearch: true,
				            showColumns: true,
				            showRefresh: true, 
				            buttonsAlign:"left",
				            toolbarAlign:"left",
				            toolbar:"#but_add",
				            onRefresh: function () {
				                initable('init');
				            },
						});
						//initpage(current,total,rowCount);
					},
					complete:function () {
						$('#data-table-mac').bootstrapTable('hideLoading','none');
					}
				})
			}
			

		});
	}
	
			
	function commands(value,row,index){
		var but_edit='<button type="button" class="btn but_update" onclick=\'showmodel("'+index+'","addform-ok","1","'+row['id']+'","'+row['aacMacId']+'","'+row['aacMacAddress']+'");\'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>通过</button>';
		var but_del='<button type="button" class="btn but_delete" onclick=\'showmodel("'+index+'","addform-down","2","'+row['id']+'","'+row['aacMacId']+'","'+row['aacMacAddress']+'");\'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>驳回</button>';
		return but_edit+but_del;
	};
	
	function macfind(){
		initable('search');
	};
	
	function showmodel(index,act,wtype,id,aacMacId,mac){
		$("#"+act+" > #data-index").val(index);
		$("#"+act+" > #act").val(act);
		$("#"+act+" > #wtype").val(wtype);
		$("#"+act+" > #id").val(id);
		$("#"+act+" > #aacMacId").val(aacMacId);
		$("#"+act+" > #mac").val(mac);
		
		if(act=='addform-ok'){
			$("#m-ud-ok").modal('show');
		}else{
			$("#m-ud-article").modal('show');
			$.ajax({
				url:"/admin/walletverify/getmsg",
				type:'POST',
				data:{'wtype':wtype},
				dataType:'JSON',
				success:function (data) {
					var select='';
					select+='<select id="msg" name="msg_id" onchange="getmsg('+wtype+');" class="show-tick form-control" style="display:black">';
						select+='<option value="0">请选择一条消息</option>';
						$.each(data.data,function(k,v){
							select+='<option value='+v.id+'>'+v.info+'</option>';
						})
					select+='</select>';
					$("#selected").html(select);
				}
			})
		}
	}
	
	function getmsg(){
		if($("#msg").val() != 0){
			$.ajax({
				url:"/admin/walletverify/getArticleById",
				type:'POST',
				data:{'id':$("#msg").val()},
				dataType:'JSON',
				success:function (data) {
					$(".zhContent").summernote('code',Base64.decode(data.data.zhdata));
					$(".enContent").summernote('code',Base64.decode(data.data.endata));
					$(".kaContent").summernote('code',Base64.decode(data.data.kadata));
					$(".jpContent").summernote('code',Base64.decode(data.data.jpdata));
				}
			})
		}
	}
	
	function empty_search(){
		$("#search")[0].reset();
		initable('init');
	}
			
	function Excel(type){
		if(type==0){
			ExcelUtils.exportExcel("data-table-mac");
		}else{
			$("#excelform").submit();
		}
	}
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
