<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
	.toggle-switch .ts-label{
		width: 130px;
	}
</style>
<section id="main" data-layout="layout-1">
	<div class="modal fade" id="m-add-info" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="width:800px;">
				<div class="modal-header">
					<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title">
						添加权限信息
					</h4>
				</div>
				<div class="modal-body form-horizontal">
					<form id="addform" method="post">
						<input type="hidden" name="roleId" id="roleId">
						<div class="form-group">
							<label for="addRoleName" class="col-sm-3 control-label">角色名称</label>
							<div class="col-sm-8">
								<div class="fg-line">
									<input type="text" class="form-control input-sm" name=role_name id="addRoleName" placeholder="昵称">
								</div>
							</div>
						</div>
						<!--<div class="form-group">
							<label for="add_sl_type" class="col-sm-3 control-label">角色类型</label>
							<div class="col-sm-8">
								<select class="selectpicker" id="add_sl_type">
									<?php foreach($rolegroup as $key=>$val){ ?>
									<option value="<?php echo $val['id']?>"><?php echo $val['group_name']?></option>
									<?php }?>
								</select>
							</div>
						</div>-->
						<!--------权限管理--------->
						<div>
							<label class="checkbox-inline">权限</label>
						</div>
						
						<div id="checkall" style="position: relative;margin-left: 100px;">
							<div style="position: absolute;margin-left: 200px;">
								<label class="checkbox-inline">
									<input type="checkbox" id="checkboxall">全选
								</label>
							</div>
							<?php foreach($rolefile as $keys => $value){?>
							<label class="control-label"><span class="glyphicon-user"></span><?php echo $value['name'];?></label>
							<div>
								<?php foreach($value['globar'] as $key => $val){?>
									<?php foreach($val as $ks => $vs){?>
										<?php if(is_array($vs)){?>
											<div style="margin-left:30px;">
												<label class="control-label"><?php echo $ks;?></label>
												<div>
													<?php foreach($vs as $k => $v){?>
														<label class="checkbox-inline">
															<input type="checkbox" class="chackbox" id="<?php echo $key;?>[<?php echo $v;?>]" name="permission[<?php echo $key;?>][]" value="<?php echo $v;?>"><?php echo $k;?>
														</label>
													<?php }?>
												</div>
											</div>
										<?php }else{?>
												<label style="margin-left:30px;" class="checkbox-inline">
													<input type="checkbox" class="chackbox" id="<?php echo $key;?>[<?php echo $vs;?>]" name="permission[<?php echo $key;?>][]" value="<?php echo $vs;?>"><?php echo $ks;?>
												</label>
										<?php }?>
									<?php }?>
								<?php }?>
							</div>
							<?php }?>
						</div>
						<!--------权限管理--------->
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect btn-insert">添加</button>
					<button type="button"  class="btn btn-default close-modal" data-dismiss="modal">
						关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<aside id="sidebar" class="sidebar c-overflow toggled">
		<?php include APP_PATH.'/public/admin/menu_left.html' ?>
	</aside>
	<section id="content">
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h2>角色权限信息 <small>管理所有用户角色权限等操作.</small></h2>
				</div>
				<div class="table-responsive">
					<table id="data-table-selection" class="table table-striped">
						<thead>
						<tr>
							<th data-column-id="id" data-order="asc" data-type="numeric" data-identifier="true">ID</th>
							<!--<th data-column-id="group_name">角色组别</th>-->
							<th data-column-id="role_name" >角色</th>
							<!--<th data-column-id="permission" data-formatter="permission">权限</th>-->
							<th data-column-id="commands" data-formatter="commands" data-sortable="false">操作</th>
						</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>

			</div>
		</div>
	</section>
</section>
<script>
	//全局变量
	var permission_info=JSON.parse('<?php echo $global; ?>');
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','jqueryform'],function () {
			$('.selectpicker').selectpicker({
				style: 'btn-default',
				size: 4
			});
			var grid=$("#data-table-selection").bootgrid({
				ajax: true,
				post: function ()
				{
					/* To accumulate custom parameter with the request object */
					return {
						id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
					};
				},
				url: "/admin/roleinfo/tabPage",
				responseHandler:function (data) {
					var ret={
						"current": data.data.current,
						"rowCount": data.data.rowCount,
						"rows":data.data.data,
						"total": data.data.total
					}
					return ret;
				},
				templates: {
					actions: '<div class="actions btn-group"><div class="dropdown btn-group"><button class="btn btn-default btn-add"><span class="zmdi zmdi-account-add zmdi-hc-fw"></span></button></div></div>',
					actionButton:'<div class="dropdown btn-group"><button class="btn btn-default"><span class="zmdi zmdi-refresh zmdi-hc-fw"></span></button></div>'
				},
				formatters: {
					"commands": function(column, row)
					{
						var btn_edit=("<button type=\"button\" class=\"btn btn-icon bgm-white waves-effect waves-circle btn_update\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button>");
						var btn_delete=("<button type=\"button\" class=\"btn btn-icon bgm-white waves-effect waves-circle btn_delete\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>");
						return btn_edit +btn_delete;
					},
                    //permission:function (column,row) {
                    //    return JSON.stringify(row['permission']);
                    //}
				}
			}).on('loaded.rs.jquery.bootgrid',function () {
				grid.find('.btn_update').on('click',function (e) {
					var target=e.target.tagName=="BUTTON"?$(e.target):$(e.target).parent();
					$('#txt_roleId').text(target.attr('data-row-id'));
					$.ajax({
						type:"get",
						url:"/admin/roleinfo/getById",
						data:{'roleId':target.attr('data-row-id')},
						async:true,
						dataType:'json',
						beforeSend:function () {
							$("#m-add-info").find('.modal-body').ajax_loader({size:'pl-lg',color:'pls-green'});
						},
						complete:function () {
							setTimeout(function () {
								$("#m-add-info").find('.ajax-loader').fadeOut();
							},100);
						},
						success:function (data) {
							if(data.code=='0'){
								$("#addRoleName").val(data.data.role_name);
								$("#roleId").val(data.data.id);
								
								$.each(data.data.permission,function(key,val){
									$.each(val,function(k,v){
										$("#checkall input[id='"+key+"["+v+"]']").prop("checked", true);
									})
								})
								$("#m-add-info").modal('show');
								$("#addform").attr('action',"/admin/roleinfo/updateUserById");
							}else if(data.code=='10000'){
								swal('没有权限,请联系管理员!');
							}else{
								swal('操作失败');
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert(XMLHttpRequest.status);
							alert(XMLHttpRequest.readyState);
							alert(textStatus);
						}
					});
					
				});
				grid.find('.btn_delete').on('click',function (e) {
					var roleId=$(this).attr('data-row-id');
					swal({
						title: "你将要删除这个角色吗?",
						text: "如果你删除了,将无法恢复!",
						type: "warning",
						showCancelButton: true,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "delete",
						closeOnConfirm: false
					}, function(){
						$.ajax({
							type:"post",
							url:"/admin/roleinfo/delete",
							data:{'roleId':roleId},
							async:true,
							dataType:'json',
							beforeSend:function () {
								$("#data-table-selection").ajax_loader({size:'pl-lg',color:'pls-green'});
							},
							complete:function () {
								setTimeout(function () {
									$("#data-table-selection").find('.ajax-loader').fadeOut();
								},100);
							},
							success:function (data) {
								if(data.code=='0'){
									swal("已删除!", "当前角色已删除.", "success");
									$("#data-table-selection").bootgrid("reload");
								}else if(data.code=='3'){
									swal('操作失败','没有权限,请联系管理员!');
								}else{
									swal('操作失败');
								}
							}
						})
					});
				});
			});
			$("body").on('click',function (e) {
				//打开添加按钮
				if(e.target.tagName=='BUTTON'||e.target.tagName=='SPAN'){
					if(e.target.className.indexOf('btn-add')>0||e.target.parentNode.className.indexOf('btn-add')>0){
						$("#m-add-info").modal("show");
						$("#addform").attr('action',"/admin/roleinfo/add");
					}
				}
				//添加按钮
				if(e.target.className.indexOf('btn-insert')>0){
					var options={
                        dataType:'json',
                        success:function (data) {
                            $("#addform")[0].reset();
                            if(data.code=='0'){
                                $("#m-add-info").modal("hide");
                                $("#data-table-mac").bootgrid("reload");
                            }else if(data.code==1002) {
								swal(data.msg);
							}else if(data.code=='3'){
                                swal('操作失败','没有权限,请联系管理员!');
                            }else{
                                swal('操作失败');
                            }
                        }
                    };
					
                    $("#addform").ajaxSubmit(options);
				}
			})
		});
	});
	
	$("#checkboxall").click(function(){
		if(this.checked){   
	        $("#checkall :checkbox").prop("checked", true);  
	    }else{   
			$("#checkall :checkbox").prop("checked", false);
	    }
	})
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>