<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
.macserch{
	width:1500px;height:150px;
}

.macfont{
	color:#000000;height:25px;font-size:13px;
}

.macbutton{
	color:#FFFFFF;border:1px #009dd9 solid;padding:4px 10px; background:#009dd9;border-radius:15px;
}

.fixed-table-loading{ display:none; }
</style>
<section id="main" data-layout="layout-1">
    <div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:400px;top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						请输入操作说明
					</h4>
				</div>
				<form action="/admin/walletuser/updateById" id="walletuser" method="post">
					<input type="hidden" id="mac" name="mac">
					<div class="modal-body">
						<textarea type="text" id="info" name="info" rows="10" cols="47"/></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>用户管理 <small>挖矿用户管理.</small></h2>
                </div>
				
				<!--------搜索start-------->
				<div class="macserch">
					<form id="search">
						<h5 style="margin-left:33px;">根据条件查询</h5><br>
						<div style="float:left;margin-left:20px;">
							<label class="macfont" style="width:85px;">MAC地址</label>
							<input  id="ds_host" type="text" name="" placeholder="MAC地址" style="width:136px;"/>
						</div>
						
						<div style="float:left;margin-left:20px;">
							<label class="macfont" style="width:85px;">Email地址</label>
							<input  id="ds_host" type="text" name="" placeholder="Email地址" style="width:136px;"/>
						</div>
						
						<div style="float:left;margin-left:50px;">
							<label class="macfont" style="width:121px;">历史提笔总金额</label>
							<input  id="ds_host" type="text" name="aacApplyTotalStart" style="width:70px;"/>
							<span>至</span>
							<input  id="ds_host" type="text" name="aacApplyTotalEnd" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:50px;">
							<label class="macfont" style="width:82px;">提币金额</label>
							<input  id="ds_host" type="text" name="aacNumberStart" style="width:70px;"/>
							<span>至</span>
							<input  id="ds_host" type="text" name="aacNumberEnd" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:50px;">
							<label class="macfont" style="width:70px;">操作人</label>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:50px;">
							<input type="hidden" value="1" name="search"/>
							<input type="button" value="查询" class="macbutton" onclick="macfind()" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:20px;margin-top:30px;">
							<label class="macfont" style="width:82px;">申请时间</label>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
							<span>至</span>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:60px;margin-top:30px;">
							<label class="macfont" style="width:82px;">操作时间</label>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
							<span>至</span>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:60px;margin-top:30px;">
							<label class="macfont" style="width:82px;">挖矿余额</label>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
							<span>至</span>
							<input  id="ds_host" type="text" name="" style="width:70px;"/>
						</div>
						
						<div style="float:left;margin-left:60px;margin-top:30px;">
							<label class="macfont" style="width:82px;">用户状态</label>
							<select>
								<option value="0">正常</option>
								<option value="1">冻结</option>
							</select>
						</div>
						
						<div style="float:left;margin-left:100px;margin-top:30px;">
							<label class="macfont" style="width:82px;">审核状态</label>
							<select>
								<option value="0">通过</option>
								<option value="1">驳回</option>
							</select>
						</div>
						
						<div style="float:left;margin-left:55px;margin-top:30px;">
							<input type="button" value="清空" class="macbutton" style="width:70px;"/>
						</div>
					</form>
                </div>
				<!--------搜索end-------->
				
				
                <div class="table-responsive">
                    <table id="data-table-mac" class="table table-striped">
                        <thead>
                        <tr>
                            <th data-field="aacMac" name='aacMac'>MAC地址</th>
                            <th data-field="publicAddress" name='publicAddress'>公钥地址</th>
                            <th data-field="transactionHash" name='transactionHash'>交易号</th>
                            <th data-field="aacApplyTotal" name='aacApplyTotal'>提币总金额</th>
                            <th data-field="aacNumber" name='aacNumber'>提币金额</th>
                            <th data-field="aacMinerBalance" name='aacMinerBalance'>挖矿余额</th>
                            <th data-field="createTime" name='createTime'>操作时间</th>
							<th data-field="aacAdmin" name='aacAdmin'>操作人</th>
							<th data-field="aacMacStatus" name='aacMacStatus' data-formatter="aacMacStatus" data-sortable="false">用户状态</th>
                            <th data-field="aacApplyStatus" name='aacApplyStatus' data-formatter="aacApplyStatus" data-sortable="false">审核状态</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example" style="text-align: center">
					<ul id="pageLimit"></ul>
				</div>
            </div>
        </div>
    </section>
</section>

<script src="core/jquery-2.2.3.min.js"></script>
<script src="core/bootstrap.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>

<script>
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }else{ parems=""; }
		$.ajax({
			type:"post",
			url:"/admin/walletfind/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				var jsonData=data.data.pageData;
				var current=data.data.pageIndex;
				var total=data.data.totalItems;
				var rowCount=data.data.offset;
				$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
					data: jsonData
				});
				initpage(gettype,current,total,rowCount);
			},
		})
	}
	
	initable('init');
	
	function macfind(){
		initable('search');
	};
	
	function initpage(gettype,currents,total,rowCount){
		if(gettype=='search'){ search='1'; }else{ search='0'; }
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"normal",//应该是页眉的大小。
			bootstrapMajorVersion: 5,//bootstrap的版本要求。
			alignment:"right",
			numberOfPages:rowCount,//一页列出多少数据。
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/walletfind/tabPage",
					type:'POST',
					data:{'pageIndex':page,'offset':10,'search':search},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.pageData;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData
						});
						//initpage(current,total,rowCount);
					}
				})
			}
			

		});
	}
	
	function aacMacStatus(value,row,index) {
		var str='';
		switch (row.aacMacStatus){
			case 'N':
				str='未冻结';
				break;
			case 'Y':
				str='已冻结';
				break;
		}
		return str;
	}
	
	function aacApplyStatus(value,row,index) {
		var str='';
		switch (row.aacApplyStatus){
			case 'D':
				str='待审核';
				break;
			case 'N':
				str='已驳回';
				break;
			case 'Y':
				str='已通过';
				break;
		}
		return str;
	}
	
	function sendinfo(mac){
		$("#walletuser > #mac").val(mac);
		$("#m-ud-article").modal('show');
	}
</script>
<?php include APP_PATH.'/public/admin/footer.html' ?>
