<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
.macserch{
	width:1500px;height:150px;
}

.macfont{
	color:#000000;height:25px;font-size:13px;
}

.macbutton{
	color:#FFFFFF;border:1px #009dd9 solid;padding:4px 10px; background:#009dd9;border-radius:15px;
}

</style>
<section id="main" data-layout="layout-1">
    <div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:400px;top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						请输入操作说明
					</h4>
				</div>
				<form action="/admin/walletuser/updateById" id="walletuser" method="post">
					<input type="hidden" id="mac" name="mac">
					<div class="modal-body">
						<textarea type="text" id="info" name="info" rows="10" cols="47"/></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
    	<h2 id="roleinfo" style="margin-left: 500px;"></h2>
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>用户管理 <small>挖矿用户管理.</small></h2>
                </div>
				
				<!--------搜索start-------->
				<div class="macserch">
					<form id="search">
						<h5 style="margin-left:33px;">根据条件查询</h5><br>
						<div style="width:100%;float:left;">
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:84px;">email地址</label>
								<input  id="ds_host" type="text" name="emailTo" placeholder="email地址" style="width:158px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:84px;">MAC地址</label>
								<input  id="ds_host" type="text" name="aacMacAddress" placeholder="MAC地址" style="width:158px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:95px;">历史提笔总金额</label>
								<input  id="ds_host" type="text" name="aacApplyTotalStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacApplyTotalEnd" style="width:70px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:82px;">挖矿余额</label>
								<input  id="ds_host" type="text" name="aacNumberStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacNumberEnd" style="width:70px;"/>
							</div>
							
							<div style="float:left;margin-left:30px;">
								<label class="macfont" style="width:60px;">用户状态</label>
								<select name="aacMacStatus">
									<option value="N">正常</option>
									<option value="Y">冻结</option>
								</select>
							</div>
							
							<div style="float:left;margin-left:30px;">
								<label class="macfont" style="width:60px;">审核状态</label>
								<select name="aacApplyStatus">
									<option value="Y">通过</option>
									<option value="N">驳回</option>
									<option value="D">待审核</option>
								</select>
							</div>
						
						
						</div>
						

						<div style="margin-top: 10px;float:left;">
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:84px;">申请时间</label>
								<input  id="ds_host" type="text" name="aacApplyTimeStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacApplyTimeEnd" style="width:70px;"/>
							</div>
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:93px;">操作时间</label>
								<input  id="ds_host" type="text" name="aacExamineTimeStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacExamineTimeEnd" style="width:70px;"/>
							</div>
							
							<div style="float:left;margin-left:50px;">
								<label class="macfont" style="width:83px;">提币金额</label>
								<input  id="ds_host" type="text" name="aacNumberStart" style="width:70px;"/>
								<span>至</span>
								<input  id="ds_host" type="text" name="aacNumberEnd" style="width:70px;"/>
							</div>

							<div style="float:left;margin-left:30px;">
								<input type="hidden" value="1" name="search"/>
								<input type="button" value="查询" class="macbutton" onclick="initable('search')" style="width:70px;"/>
							</div>
							<div style="float:left;margin-left:10px;">
								<input type="button" value="清空" class="macbutton" onclick="empty_search();" style="width:70px;"/>
							</div>
							<!--<div style="float:left;margin-left:10px;">
								<input type="button" value="导出EXCEL" class="macbutton" onclick="Excel();" style="width:70px;"/>
							</div>-->
						</div>
					</form>
					
					<div style="float:left;margin-left:10px;">
						<form id="excelform" action="/admin/walletfind/excel" method="post">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">导出EXCEL<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li onclick="Excel(0);"><a href="#">导出当前数据</a></li>
									<li onclick="Excel(1);"><a href="#">导出全部数据</a></li>
								</ul>
							</li>
						</ul>
						</form>
					</div>
					
                </div>
				<!--------搜索end-------->
				
				
                <div class="table-responsive">
                    <table id="data-table-mac" class="table table-striped">
                        <thead>
                        <tr>
                            <th data-field="'emailTo'" name='emailTo'>Email</th>
                            <th data-field="aacMacAddress" name='aacMacAddress'>MAC地址</th>
                            <th data-field="publicAddress" name='publicAddress'>公钥地址</th>
                            <th data-field="transactionHash" name='transactionHash'>交易号</th>
                            <th data-field="aacApplyTotal" name='aacApplyTotal'>提币总金额</th>
                            <th data-field="aacNumber" name='aacNumber'>提币金额</th>
                            <th data-field="aacMinerBalance" name='aacMinerBalance'>挖矿余额</th>
                            <th data-field="createTime" name='createTime'>操作时间</th>
							<th data-field="aacAdmin" name='aacAdmin'>操作人</th>
							<th data-field="aacMacStatus" name='aacMacStatus' data-formatter="aacMacStatus" data-sortable="false">用户状态</th>
                            <th data-field="aacApplyStatus" name='aacApplyStatus' data-formatter="aacApplyStatus" data-sortable="false">审核状态</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example">
					<ul id="pageLimit"></ul>
				</div>
            </div>
        </div>
    </section>
</section>

<script src="core/jquery-2.2.3.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="/widget/excel/ExcelUtil.js"></script>

<script>
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','summernote-zh','fileinput','jqueryform'],function () {
			$(".dropdown-toggle").dropdown();
		})
	})
	
	initable('init');
	
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }else{ parems=""; }
		$.ajax({
			type:"post",
			url:"/admin/walletfind/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				if(data.code==0){
					var jsonData=data.data.pageData;
					var current=data.data.pageIndex;
					var total=data.data.totalItems;
					var rowCount=data.data.offset;
					$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
						data: jsonData,
						search: false,
			            searchAlign:"left",
			            strictSearch: true,
			            showColumns: true,
			            showRefresh: true, 
			            buttonsAlign:"left",
			            toolbarAlign:"left",
			            toolbar:"#but_add",
			            onRefresh: function () {
			                initable('init');
			            },
					});
					initpage(gettype,current,total,rowCount);
				}else if(data.code=='10000') {
					$(".container").hide();
					$("#roleinfo").html('没有权限,请联系管理员!');
                }else {
                    $("#roleinfo").html('操作失败!');
                }
			},
			complete:function () {
				$('#data-table-mac').bootstrapTable('hideLoading','none');
			}
		})
	}
	
   	
	function initpage(gettype,currents,total,rowCount){
		var parems;
		if(gettype=='search'){ 
			parems=$('#search').serialize();
			console.log(parems.split("&="));
		}else{
			parems="";
		}
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"normal",//应该是页眉的大小。
			bootstrapMajorVersion: 5,//bootstrap的版本要求。
			numberOfPages:5,//一页列出多少数据。
			alignment:"left",
			containerClass:"m-l-30",
			itemContainerClass: function (type, page, current) {
				return (page === current) ? "active" : "";
			},
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/walletfind/tabPage",
					type:'POST',
					data:{'pageIndex':page,'offset':<?php echo $offset; ?>,"parems":parems},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.pageData;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData,
							search: false,
				            searchAlign:"left",
				            strictSearch: true,
				            showColumns: true,
				            showRefresh: true, 
				            buttonsAlign:"left",
				            toolbarAlign:"left",
				            toolbar:"#but_add",
				            onRefresh: function () {
				                initable('init');
				            },
						});
						//initpage(current,total,rowCount);
					},
					complete:function () {
						$('#data-table-mac').bootstrapTable('hideLoading','none');
					}
				})
			}
			

		});
	}
	
	function aacMacStatus(value,row,index) {
		var str='';
		switch (row.aacMacStatus){
			case 'N':
				str='未冻结';
				break;
			case 'Y':
				str='已冻结';
				break;
		}
		return str;
	}
	
	function aacApplyStatus(value,row,index) {
		var str='';
		switch (row.aacApplyStatus){
			case 'D':
				str='待审核';
				break;
			case 'N':
				str='已驳回';
				break;
			case 'Y':
				str='已通过';
				break;
		}
		return str;
	}
	
	
	function empty_search(){
		$("#search")[0].reset();
		initable('init');
	}
	
	function Excel(type){
		if(type==0){
			ExcelUtils.exportExcel("data-table-mac");
		}else{
			$("#excelform").submit();
		}
	}
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
