<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>门户管理后台</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet"  href="<?php echo ADMIN_CSS_PATH ?>/common/animate.min.css">
    <link rel="stylesheet"  href="<?php echo ADMIN_CSS_PATH ?>/material-design-iconic-font.min.css">
    <link href="<?php echo ADMIN_CSS_PATH ?>/common/bootstrap.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_CSS_PATH ?>/app.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo WIDGET_PATH ?>/bootstrap-sweetalert/lib/sweet-alert.css"/>

</head>

<body class="login-content">
<!-- Login -->
<div class="lc-block toggled" id="l-login">


    <div class="div_loginImg" style="position: fixed;left: 50%;margin: -140px;">
        <img src="css/img/logo.png"/>
    </div>
    <form id="fm_login" method="post" action="/admin/login/checkLogin">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Username" tabindex="1" id="username" name="username">
            </div>
        </div>
        <input value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCeKO6lgAgQNBdETRG36H+Nzf/Q
yxmrbCCfT5nGR2rSnqW7Aw/4/10CREDO7AznkAnPv+kh189nppXKNLdEg30Gonel
hUKVAPWRSdl9/vp6eXlpc6mHjuitfWplxTnSXPVdrJWTWV7QiB1RGZflOtRYw7x7
HUAfhk++ofQT8r9r7QIDAQAB" type="hidden" id="pubkey">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" tabindex="2" id="password">
                <input type="hidden" id="tpwd" name="password">
            </div>
        </div>
        <div class="clearfix input-group m-b-20">
            <a class="input-group-addon" id="update_verify" href="#">
                <img title="验证码" id="verify_code" src="/captcha.php?t=admin" style="vertical-align:top">
            </a>
            <div class="fg-line m-t-10">
                <input type="text" class="form-control" placeholder="Verification code" tabindex="3" id="captcha" name="captcha">
            </div>
        </div>
        <a href="#" id="go_index" tabindex="4" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
    </form>
    <!-- <div class="checkbox">
         <label>
             <input type="checkbox" value="">
             <i class="input-helper"></i>
             Keep me signed in
         </label>
     </div>-->


</div>
<!-- Javascript Libraries -->
<script src="<?php echo ADMIN_CORE_PATH ?>/jquery-2.2.3.min.js"></script>
<script src="<?php echo ADMIN_CORE_PATH ?>/bootstrap.min.js"></script>
<script src="<?php echo WIDGET_PATH ?>/bootstrap-sweetalert/lib/sweet-alert.js"></script>
<script src="<?php echo WIDGET_PATH ?>/ajaxform/jquery.form.js"></script>

<script src="<?php echo JS_PATH ?>/hash/jsencrypt.min.js"></script>

<script src="<?php echo ADMIN_CORE_PATH ?>/functions.js"></script>
<script>
    $(function () {

        function cmdEncrypt() {
            var passwd = $('#password').val();
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey($("#pubkey").val());
            var res = encrypt.encrypt(passwd);
            $('#tpwd').val(res);
        }



        $('input:text:first').focus();
        $("body").on("click",'#update_verify',function () {
            $("#verify_code").attr('src','/captcha.php?t=admin');
        })
        var options={
            dataType:'json',
            success:function (data) {
                if(data.code!=0){
                    swal("登录提示",data.error);
                }else{
                    window.location.href='/admin/dashboard?menuid=1';
                }
            }
        }
        $(document).keyup(function (e) {
            if(e.keyCode==13){
                cmdEncrypt();
                e.preventDefault();
                $("#fm_login").ajaxSubmit(options);
            }
            return false;
        })
        $("body").on("click",'#go_index',function () {
            cmdEncrypt();
            console.log($('#password').val());
            $("#fm_login").ajaxSubmit(options);
            return false;
        })
    })
</script>
</body>
</html>