<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<style>
.macserch{
	width:1300px;height:150px;
}

.macfont{
	color:#000000;height:25px;font-size:13px;
}

.macbutton{
	color:#FFFFFF;border:1px #009dd9 solid;padding:4px 10px; background:#009dd9;border-radius:15px;
}

.fixed-table-loading{ display:none; }
</style>
<section id="main" data-layout="layout-1">
    <div class="modal fade" id="m-ud-article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="top:200px">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						请输入操作说明
					</h4>
				</div>
				
				<form id="addform" method="post">
					<input type="hidden" class="form-control" id="id" name="id">
					<div class="form-group">
                        <label class="col-sm-2 control-label">所属级别</label>
                        <div class="col-sm-10">
                            <select class="selectpicker" id="sl_roles" name="p_id">
                                <?php foreach($menu as $key => $val){?>
                                <option value="<?php echo $val['id']; ?>"><?php echo $val['name']; ?></option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" name="name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ICON</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="icon" name="icon">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">URL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="url" name="url">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="level" name="level">
						</div>
					</div>
				</form>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-insert">确认</button>
					<button type="button" class="btn btn-reset" data-dismiss="modal">取消</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
	
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
    <section id="content">
        <div class="container">
            <div id="myeditor"></div>
            <div class="card">
                <div class="card-header">
                    <h2>左侧栏目管理 <small>左侧栏目管理.</small></h2>
                </div>
				
				
                <div class="table-responsive">
					<button id="btn_add" type="button" class="btn btn-add">
		                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
		            </button>
                    <table id="data-table-mac" class="table table-striped" data-row-style="rowStyle">
                        <thead>
                        <tr>
                            <th data-field="id" name='id'>编号</th>
                            <th data-field="name" name='name'>名称</th>
                            <th data-field="icon" name='icon'>icon</th>
                            <th data-field="url" name='url'>url</th>
                            <th data-field="level" name='level'>排序</th>
                            <th data-field="c_time" name='c_time'>时间</th>
                            <th data-field="uid" name='uid'>操作人</th>
                            <th data-field="commands" data-formatter="commands" data-sortable="false">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
				<div id="example" style="text-align: center">
					<ul id="pageLimit"></ul>
				</div>	
            </div>
        </div>
    </section>
</section>

<script src="core/jquery-2.2.3.min.js"></script>
<script src="/widget/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="core/bootstrap-table.min.js"></script>

<script>
	require(['pathCnf'],function (pathCnf) {
		require(['bootgrid','bootstrapSelect','sweetAlert','fileinput','jqueryform'],function () {
			$('.selectpicker').selectpicker({
                style: 'btn-default',
                size: 4
            });
			
			$(".btn-add").on('click',function(){
				$("#addform").attr('action',"/admin/catenav/add");
				$("#m-ud-article").modal('show');
			})
			
			$("body").on('click',function (e) {
				//添加按钮
                if(e.target.className.indexOf('btn-insert')>0){
                    var options={
                        dataType:'json',
                        success:function (data) {
                            $("#addform")[0].reset();
                            if(data.code=='0'){
                                $("#m-ud-article").modal("hide");
                                //$("#data-table-mac").bootgrid("reload");
								initable('init');
                            }else if(data.code==1002) {
								swal(data.msg);
							}else if(data.code=='3'){
                                swal('操作失败','没有权限,请联系管理员!');
                            }else{
                                swal('操作失败');
                            }
                        }
                    };
					
                    $("#addform").ajaxSubmit(options);
                }
			})
			
			$(".but-update").on('click',function(){
				$("#addform").attr('action',"/admin/catenav/updatenavById");
				$("#m-ud-article").modal('show');
				var id=$(this).attr('data-row-id');
				$.ajax({
                    type:"post",
                    url:"/admin/catenav/getnavById",
                    data:{'id':id},
                    async:true,
                    dataType:'json',
                    beforeSend:function () {
                        $("#m-ud-article").find('.modal-body').ajax_loader({size:'pl-lg',color:'pls-green'});
                    },
                    complete:function () {
                        setTimeout(function () {
                        	$("#m-ud-article").find('.ajax-loader').fadeOut();
                        },100);
                    },
                    success:function (data) {
                        if(data.code=='0'){
                        	$("#addform .fileinput-preview").html('');
                        	$("#addform #id").val(data.data.id);
                        	$("#sl_roles").selectpicker('val',data.data.p_id);
                        	$('#addform #name').val(data.data.name);
                        	$('#addform #icon').val(data.data.icon);
                        	$('#addform #url').val(data.data.url);
                        	$('#addform #level').val(data.data.level);
                        }
                    }
                });
			})
			
			$(".but_delete").on('click',function(){
				var id=$(this).attr('data-row-id');
				var index=$(this).attr('data-row-index');
				swal({
					title: "你将要删除这个记录吗?",
					text: "如果你删除了,将无法恢复!",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "delete",
					closeOnConfirm: false
				}, function(){
					$.ajax({
						type:"post",
						url:"/admin/catenav/delete",
						data:{'id':id},
						async:true,
						dataType:'json',
						beforeSend:function () {
							$("#data-table-mac").ajax_loader({size:'pl-lg',color:'pls-green'});
						},
						complete:function () {
							setTimeout(function () {
								$("#data-table-mac").find('.ajax-loader').fadeOut();
							},100);
						},
						success:function (data) {
							if(data.code=='0'){
								swal("已删除!", "当前记录已删除.", "success");
								var count = $("#data-table-mac > tbody > tr").length;
								if(count <= 1){
									initable('init');
								}else{
									$("#data-table-mac > tbody > tr[data-index="+index+"]").remove();
								}
							}else if(data.code=='3'){
								swal('操作失败','没有权限,请联系管理员!');
							}else{
								swal('操作失败');
							}
						}
					})

				});
			})

		})
	})

	
	function initable(gettype='init'){
		var parems='';
		if(gettype=='search'){ parems=$('#search').serialize(); }
		$.ajax({
			type:"post",
			url:"/admin/catenav/tabPage",
			data: parems,
			async:true,
			dataType:'json',
			success:function (data) {
				var jsonData=data.data.data;
				//var current=data.data.current;
				//var total=data.data.total;
				//var rowCount=data.data.rowCount;
				$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
					data: jsonData,
				});
				//initpage(gettype,current,total,rowCount);
			},
		})
	}
	
	initable('init');
	
	//function macfind(){
	//	initable('search');
	//};

	function initpage(gettype,currents,total,rowCount){
		if(gettype=='search'){ search='1'; }else{ search='0'; }
		$('#pageLimit').bootstrapPaginator({
			currentPage: currents,//当前的请求页面。
			totalPages: Math.ceil(total/rowCount),//一共多少页。
			size:"normal",//应该是页眉的大小。
			bootstrapMajorVersion: 5,//bootstrap的版本要求。
			alignment:"right",
			numberOfPages:5,//一页列出多少数据。
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first": return "首页";
					case "prev": return "上页";
					case "next": return "下页";
					case "last": return "末页";
					case "page": return page;
				}
			},
			onPageClicked: function (event, originalEvent, type, page){
				$.ajax({
					url:"/admin/catenav/tabPage",
					type:'POST',
					data:{'current':page,'rowCount':<?php echo $offset; ?>,'search':search},
					dataType:'JSON',
					success:function (data) {
						var jsonData=data.data.data;
						$('#data-table-mac').bootstrapTable('destroy').bootstrapTable({
							data: jsonData
						});
						//initpage(current,total,rowCount);
					}
				})
			}
			

		});
	}
	
	function commands(value,row,index){
		return '<a href="javascript:;" style="color:red" class="but-update" data-row-id="'+row['id']+'">编辑</a>/<a href="javascript:;" class="but_delete" data-row-index="'+index+'" data-row-id="'+row['id']+'" style="color:red">删除</a>';
	};
	
	
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>
