<?php include APP_PATH.'/public/admin/header_meta.html' ?>
<?php include APP_PATH.'/public/admin/header.html' ?>
<section id="main" data-layout="layout-1">
    <aside id="sidebar" class="sidebar c-overflow toggled">
        <?php include APP_PATH.'/public/admin/menu_left.html' ?>
    </aside>
	<!--<section id="content">
		<div class="container">
			
			
			
			<div class="panel panel-default" style="width: 700px;height: 500px; float:left;">
				<div id="container" style="height: 400px"></div>
			</div>
			
		</div>
	</section>-->
</section>

<?php include APP_PATH.'/public/admin/footer.html' ?>